@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes div-loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loader-body {
  100% {
    overflow: visible;
  }
}
@keyframes heart-full {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes check {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(3, auto);
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  main {
    display: block;
    margin-top: 8%;
  }
  main .fonctionnement {
    grid-row: 2/3;
  }
  main .restaurants {
    grid-row: 3/4;
  }
}
@media screen and (min-width: 992px) {
  main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 0.2fr);
    margin-top: 5%;
  }
  main .fonctionnement {
    grid-row: 2/3;
  }
}

ul {
  list-style-type: none;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: black;
}

.vignette {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 16px 2px #b6b6b6;
  transform-origin: bottom;
  border-radius: 20px;
}

.heart-empty {
  position: absolute !important;
  opacity: 1;
}
.heart-full {
  position: relative !important;
  color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(top, #9356DC 5%, #FF79DA 100%);
  opacity: 0;
}
.heart-full:hover {
  opacity: 1;
  animation: heart-full 1s both;
}

.btn {
  background: linear-gradient(to top left, #9356DC, #FF79DA 110%);
  padding: 15px 0;
  border: none;
  border-radius: 100px;
  box-shadow: 0px 0px 16px 2px #b6b6b6;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  width: 55%;
}
.btn:hover {
  background: linear-gradient(to top left, #ae80e5, #ff93e1);
  box-shadow: 0px 0px 25px 2px #aaaaaa;
}

header {
  display: flex;
  justify-content: center;
  height: 5em;
  padding-top: 6%;
  text-align: center;
  margin-bottom: 13px;
}
header i {
  font-size: 25px;
  color: #444444;
}
@media screen and (min-width: 992px) {
  header i {
    margin-left: -250px;
    margin-top: 23px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header i {
    margin-top: 15px;
  }
}
header img {
  width: 45%;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header img {
    margin-top: 1%;
    width: 75%;
  }
}
@media screen and (min-width: 992px) {
  header img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header {
    justify-content: space-around;
  }
}
@media screen and (min-width: 992px) {
  header {
    padding-top: 3%;
  }
}

footer {
  background-color: #353535;
  color: #FFFFFF;
  padding: 15% 6% 6% 6%;
}
footer img {
  width: 25%;
}
footer ul {
  margin-top: 4%;
}
footer ul li i {
  padding-right: 2%;
}
footer a {
  color: #FFFFFF;
}
footer .fa-handshake-angle {
  font-size: 11px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  footer {
    padding-top: 9%;
    padding-bottom: 2%;
    height: 10%;
  }
  footer img {
    width: 20%;
    margin-top: -4%;
  }
  footer ul {
    margin-top: 2%;
  }
}
@media screen and (min-width: 992px) {
  footer {
    padding-top: 3%;
    padding-bottom: 2%;
    height: 10%;
  }
  footer img {
    width: 10%;
    margin-left: 10%;
  }
  footer ul {
    margin-top: 2%;
    margin-left: 10%;
  }
  footer ul li {
    display: inline-block;
    width: 23%;
  }
}

#body {
  overflow: hidden;
  animation: loader-body 0.01s 2s forwards;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #F6F6F6;
  opacity: 0.9;
  animation: div-loader 0.01s 2s forwards;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__double {
  position: relative;
  height: 150px;
  width: 150px;
  display: inline-block;
  border-radius: 75px;
  border: 15px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  animation: spin 2s linear infinite;
}
.loader__double::before {
  content: "";
  position: absolute;
  border-radius: 75px;
  top: 24px;
  left: 24px;
  bottom: 24px;
  right: 24px;
  border: 15px solid transparent;
  border-top-color: #99E2D0;
  border-bottom-color: #99E2D0;
  animation: spin 5s linear infinite;
}
.loader__double::after {
  content: "";
  position: absolute;
  border-radius: 75px;
  top: 4px;
  left: 4px;
  bottom: 4px;
  right: 4px;
  border: 15px solid transparent;
  border-top-color: #FF79DA;
  border-bottom-color: #FF79DA;
  animation: spin-reverse 1s linear infinite;
}

/************************/
/* SECTION LOCALISATION */
/************************/
.localisation {
  background-color: #F6F6F6;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .localisation {
    height: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .localisation {
    height: 60%;
  }
}
.localisation__recherche {
  font-size: 18px;
  font-weight: 500;
  line-height: 3em;
  text-align: center;
  background-color: #e9e9e9;
}
.localisation__recherche span {
  padding-left: 2%;
}
.localisation__resa {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 0.5fr);
  text-align: center;
}
.localisation__resa h1 {
  padding: 7% 19% 3% 19%;
}
@media screen and (min-width: 992px) {
  .localisation__resa h1 {
    padding: 0;
    margin-top: 1%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .localisation__resa h1 {
    padding: 0;
  }
}
.localisation__resa p {
  font-size: 18px;
  font-weight: 300;
  margin: 0.5% 3% 3% 3%;
}
@media screen and (min-width: 992px) {
  .localisation__resa p {
    margin: 1% 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .localisation__resa p {
    margin: 0;
    margin-top: 1%;
  }
}
.localisation__resa input {
  margin: 2% 22% 10% 22%;
  margin-top: 10%;
}
@media screen and (min-width: 992px) {
  .localisation__resa input {
    margin: 2% auto;
    width: 17%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .localisation__resa input {
    width: 30%;
    margin: 3% auto 4% auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .localisation__resa {
    height: 100%;
    padding: 0;
    padding-top: 2%;
  }
}

/**************************/
/* SECTION FONCTIONNEMENT */
/**************************/
.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin: 5% 10%;
  /*****************************************/
  /* VIGNETTES PRESENTATION FONCTIONNEMENT */
  /*****************************************/
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .fonctionnement {
    margin: 0;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) {
  .fonctionnement {
    flex-wrap: wrap;
    height: 100%;
    margin: 3% 3% 0 0;
  }
}
.fonctionnement h1 {
  margin: 0;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .fonctionnement h1 {
    font-size: 23px;
    text-align: center;
    width: 100%;
    font-weight: 500;
    height: 54px;
    margin: 0;
    padding-top: 13px;
  }
}
@media screen and (min-width: 992px) {
  .fonctionnement h1 {
    font-size: 25px;
    width: 100%;
    font-weight: 500;
    margin-left: 3%;
  }
}
.fonctionnement__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 18em;
}
@media screen and (min-width: 992px) {
  .fonctionnement__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1% 1%;
    height: 9em;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .fonctionnement__container {
    margin: 0 12% 5% 12%;
    height: 20em;
  }
}
.fonctionnement__vignette {
  height: 74px;
  text-align: center;
  padding-top: 25px;
  position: relative;
}
.fonctionnement__vignette1::before {
  content: "1";
  position: absolute;
  left: -3%;
  background-color: #9356DC;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 1% 2.5%;
}
.fonctionnement__vignette2::before {
  content: "2";
  position: absolute;
  left: -3%;
  background-color: #9356DC;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 1% 2.5%;
}
.fonctionnement__vignette3::before {
  content: "3";
  position: absolute;
  left: -3%;
  background-color: #9356DC;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 1% 2.5%;
}
.fonctionnement__vignette span {
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .fonctionnement__vignette span {
    margin-left: 12px;
  }
}
.fonctionnement__vignette i {
  font-size: 20px;
  margin-right: 20px;
  margin-left: -12%;
  color: #909090;
}
.fonctionnement__vignette i.fa-mobile-screen-button {
  margin-right: 10px;
}
.fonctionnement__vignette:hover {
  background-color: #f2eafb;
}
.fonctionnement__vignette:hover i {
  color: #9356DC;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .fonctionnement__vignette {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .fonctionnement__vignette {
    width: 30%;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 15%;
  margin-bottom: 15%;
  padding: 10% 5% 25% 5%;
  height: 100%;
  /*************************************/
  /* VIGNETTES PRESENTATION RESTAURANT */
  /*************************************/
}
.restaurants h1 {
  font-weight: 500;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants {
    margin: 0;
    padding-top: 4%;
    padding-bottom: 10%;
  }
  .restaurants h1 {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .restaurants {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    padding: 0;
    margin: 3% 0 3% 0;
    height: auto;
  }
  .restaurants h1 {
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    margin-left: 3%;
  }
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-top: 3%;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .restaurants__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 1% 0 2% 0;
  }
}
.restaurants__vignettes {
  position: relative;
  height: 280px;
  white-space: nowrap;
}
.restaurants__vignettes img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: 0 95%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.restaurants__vignettes .img-resto2 {
  object-position: 0 61%;
}
.restaurants__vignettes--nom {
  font-weight: 700;
  font-size: 20px;
}
.restaurants__vignettes--texte {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3%;
}
.restaurants__vignettes--texte div {
  line-height: 30px;
}
.restaurants__vignettes--ville {
  font-size: 17px;
}
.restaurants__vignettes i {
  font-size: 40px;
  padding-right: 5%;
}
.restaurants__vignettes1::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  color: #278870;
  right: 4%;
  top: 4%;
  font-weight: bold;
  padding: 1% 2.5%;
}
.restaurants__vignettes2::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  color: #278870;
  right: 4%;
  top: 4%;
  font-weight: bold;
  padding: 1% 2.5%;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants__vignettes {
    width: 45%;
    margin-top: 3%;
  }
}
@media screen and (min-width: 992px) {
  .restaurants__vignettes {
    width: 20%;
  }
}

.carte {
  display: flex;
  flex-direction: column;
  justify-content: normal;
}
.carte img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .carte img {
    width: 30%;
    height: 574px;
    object-fit: cover;
    margin-top: -59px;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .carte img {
    height: 400px;
    object-fit: cover;
    object-position: 0 67%;
  }
}
.carte .img-lanote {
  height: 350px;
  object-fit: cover;
  object-position: 0 61%;
}
@media screen and (min-width: 992px) {
  .carte .img-lanote {
    width: 30%;
    height: auto;
    object-position: center;
  }
}
.carte__container {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  margin-top: -60px;
  padding-bottom: 18%;
}
.carte__container--lanote {
  margin-top: -96px !important;
}
@media screen and (min-width: 992px) {
  .carte__container--lanote {
    margin-top: -61px !important;
  }
}
.carte__container--menu {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  padding-left: 7%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .carte__container--menu {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}
.carte__container--titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Shrikhand;
  margin: 8%;
}
.carte__container--titre i {
  font-size: 38px;
}
@media screen and (min-width: 992px) {
  .carte__container--titre {
    margin: 2% 33%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .carte__container--titre {
    justify-content: space-evenly;
  }
}
.carte__container--choix {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 340px;
  margin: 5% 0;
}
.carte__container--choix1 > p {
  animation: menu 600ms ease-in-out 0s both;
}
.carte__container--choix1 > .vignette__plat {
  animation: slide 1s ease-in-out 0.1s forwards;
}
.carte__container--choix2 > p {
  animation: menu 600ms ease-in-out 1s both;
}
.carte__container--choix2 > .vignette__plat {
  animation: slide 1s ease-in-out 1.1s forwards;
}
.carte__container--choix3 > p {
  animation: menu 600ms ease-in-out 2s both;
}
.carte__container--choix3 > .vignette__plat {
  animation: slide 1s ease-in-out 2.1s forwards;
}
.carte__container--choix--choix4plats {
  height: 440px;
}
.carte__container--choix > p {
  padding-bottom: 3px;
  border-bottom: 4px solid #99E2D0;
  width: 11%;
  font-size: 18px;
}
@media screen and (min-width: 992px) {
  .carte__container--choix {
    margin: 0;
    width: 33%;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .carte__container--choix {
    width: 70%;
    margin-left: 110px;
  }
}
@media screen and (min-width: 992px) {
  .carte__container {
    padding: 0;
    padding-bottom: 2%;
    width: 78%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 46px;
    margin-left: -3%;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .carte__container {
    padding-bottom: 4%;
  }
}
@media screen and (min-width: 992px) {
  .carte {
    display: flex;
    flex-direction: row;
    justify-content: normal;
  }
}

.fa-check {
  color: #99E2D0;
  background-color: #FFFFFF;
  border: 1px solid #F6F6F6;
  border-radius: 50px;
  padding: 5px;
}

.vignette__plat {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  width: 95%;
  height: 90px;
  line-height: 25px;
  padding: 20px;
  position: relative;
  cursor: pointer;
  transform: scaleY(0);
  white-space: nowrap;
}
.vignette__plat--titre {
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vignette__plat--commentaire {
  overflow: hidden;
  text-overflow: ellipsis;
}
.vignette__plat span {
  font-weight: bold;
  font-size: 18px;
  margin: 23px 0 0 10px;
}
.vignette__plat--check {
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 81%;
  padding-left: 25px;
  padding-right: 25px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
}
.vignette__plat--texte {
  width: 85%;
}
@media screen and (min-width: 992px) {
  .vignette__plat--texte {
    line-height: 22px;
  }
}
.vignette__plat:hover > .vignette__plat--check {
  animation: check 0.5s ease-in-out both;
}
.vignette__plat:hover > .vignette__plat--check > .fa-check {
  animation: spin 1s ease-in-out both;
}
.vignette__plat:hover > .vignette__plat--texte {
  width: 67%;
  transition: width 0.5s ease-in-out;
  white-space: nowrap;
}
.vignette__plat:hover > .vignette__plat--texte > p {
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .vignette__plat {
    padding: 20px 4px 20px 20px;
  }
}

.btn-menu {
  margin-top: 8%;
  margin-left: 21%;
}
@media screen and (min-width: 992px) {
  .btn-menu {
    margin-top: 0%;
    margin-bottom: 1%;
    width: 20%;
    margin-left: 41%;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .btn-menu {
    width: 25%;
    margin-left: 36%;
  }
}

/*# sourceMappingURL=style.css.map */
