/*****************************************/
/* VIGNETTES PRESENTATION FONCTIONNEMENT */
/*****************************************/
.fonctionnement__vignette{    
    @include color($color-contraste);
    @include shadow($color-bg);
    border-radius: 20px;
    height: 74px;
    text-align: center;
    padding-top:25px;
    position: relative;
    @for $i from 1 through $nb-vignettes-fct{
        &#{$i}::before{
            content:"#{$i}";
            position: absolute;
            left: -3%;
            @include color($color-primary);
            color:$color-contraste;
            border-radius: 50%;
            padding: 1% 2.5%;
        }
    }
        span{
            font-weight:bold;            
        }
        i{
            font-size:20px;
            margin-right: 20px;
            margin-left:-12%;
            color: darken($color-bg,40);
            &.fa-mobile-screen-button{
                margin-right: 10px;
            }
        } 
        &:hover{
            @include color(lighten($color-primary,35));
            i{
                color: $color-primary;
            } 
        }  
        @media screen and (min-width:$ecran992){
            width: 30%;

        }     
}

/*************************************/
/* VIGNETTES PRESENTATION RESTAURANT */
/*************************************/
.restaurants__vignettes{    
    @include color($color-contraste);
    @include shadow($color-bg);
    border-radius: 20px;
    position: relative;
    height:280px;
    img{
        width: 100%;
        height: 70%;
        object-fit: cover;
        object-position: 0 95%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }   
    .img-resto2{
        object-position: 0 61%;
    }
    &--nom{
            font-weight:700;
            font-size:20px;
        }
    &--texte{
        @include flex(columns,space-between);
        padding: 3%;
        div{
            line-height: 30px;
        }
    } 
    &--ville{
        font-size: 17px;
    }
    i{
        font-size:40px;
        padding-right:5%;
    }   
    @for $i from 1 through $nb_nouveau{
        &#{$i}::before{
            content:"Nouveau";
            position: absolute;
            @include color($color-tertiary);
            color: darken($color-tertiary,40);
            right: 4%;
            top:4%;
            font-weight: bold;
            padding: 1% 2.5%;
        }
    }
    @media screen and (min-width:$ecran992){
        width: 20%;
    }
}