@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main{
    @include grid(1,3,auto,auto);
    @media screen and (min-width:$ecran768) and (max-width:$ecran992){
        display: block;
        margin-top:8%;
        .fonctionnement{
            grid-row: 2 /3;
        }
        .restaurants{
            grid-row: 3 / 4;
        }
    }
    @media screen and (min-width:$ecran992){
        @include grid(1,3,1fr,0.2fr);
        margin-top:5%;
        .fonctionnement{
            grid-row: 2 / 3;
        }
    }
}
ul{
    list-style-type: none;
    line-height:30px;
}
a{
    text-decoration: none;
    color: black;
}
// vignettes présentation des plats
.vignette{
    @include color($color-contraste);
    @include shadow($color-bg,25,16px);
    transform-origin: bottom;
    border-radius: 20px;
}
// Animations remplissage des coeurs 
.heart{
    &-empty{
        position: absolute !important ;
        opacity: 1;
    }
    &-full{
        position: relative !important;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: -webkit-linear-gradient(top, #9356DC 5%, #FF79DA 100%);  
        opacity:0;
        &:hover{
            opacity: 1;
            animation: heart-full 1s both;            
        }
    }
}