@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
main{
    @include grid(1,3,auto,auto);
    @media screen and (min-width:$ecran768) and (max-width:$ecran992){
        @include grid(1,3,1fr,0.2fr);
        margin-top:8%;
    }
    @media screen and (min-width:$ecran992){
        @include grid(1,3,1fr,0.5fr);
        margin-top:8%;
        .fonctionnement{
            grid-row: 2 / 3;
        }
    }
}
ul{
    list-style-type: none;
    line-height:30px;
}
a{
    text-decoration: none;
    color: black;
}
.vignette{
    @include color($color-contraste);
    @include shadow($color-bg,25,16px);
    border-radius: 20px;
    transform-origin: bottom;
}
.heart{
    &-empty{
        position: absolute !important ;
        opacity: 1;
    }
    &-full{
        position: relative !important;
        color: transparent;      
        opacity:0;        
        &:hover{
            opacity: 1;
            z-index: 2; 
            background: -webkit-linear-gradient(top, #9356DC 50%, #FF79DA 100%);
            transition: all 1s ease-in-out;
        }
    }
}