.carte{
    @include flex(column,normal);
    img{
        width: 100%;
        height: 100%;
        @media screen and (min-width:$ecran992){
            width: 30%;
            height: 574px;
            object-fit: cover;
            margin-top: -59px;
        }
    }
    &__container{
        @include color($color-bg);
        @include flex(column, normal);
        border-top-left-radius: 46px;
        border-top-right-radius: 46px;
        margin-top: -60px;
        padding-bottom: 18%;
        h1{
            font-family: Shrikhand;
        }
        &--menu{
            @include flex(column,normal);
            padding-left:7%;
            height: 100%;
            @media screen and (min-width:$ecran992){
                @include flex(row,  normal);
                padding-left:4%;
                padding-top:1%;
                padding-bottom:1%;
            }
        }
        &--titre{
            @include flex(row,space-between);
            margin: 8%;
            i{
                font-size:38px;
            }
            @media screen and (min-width:$ecran992){
                margin: 2% 33%;
            }
        }
        &--choix{
            @include flex(column,space-around);
            height: 350px;
            margin: 5% 0;
            @for $i from 1 through 3{
                $j:calc($i - 1);
                &#{$i} > p{
                    animation: plat 600ms ease-in-out #{$j}s both ;               
                }
                &#{$i} > .vignette__plat{
                    animation: plat 2.5s ease-in-out #{$j}s both ;               
                }
            }
            & > p{
                padding-bottom:3px;
                border-bottom: 4px solid $color-tertiary;
                width: 11%;
                font-size: 18px;
            }
            @media screen and (min-width:$ecran992){
                margin: 0;
                width: 45%;
            }
        }
        @media screen and (min-width:$ecran992){
            padding: 0;
            padding-bottom: 2%;
            width: 100%;
            border-top-right-radius: 0;
            border-bottom-left-radius: 46px;
            margin-left: -3%;
        }
    }
    @media screen and (min-width:$ecran992){
        @include flex(row,normal);
        
    }
}
.fa-check{
    color: $color-tertiary;
    @include color($color-contraste);
    border: 1px solid $color-bg;
    border-radius:50px;
    padding: 5px;
}
.vignette__plat{
    @include flex(row,space-between);
    width: 90%;
    height: 25%;
    line-height: 25px;
    padding: 17px 20px;
    position: relative;
    cursor: pointer;
    &--titre{
        font-weight: bold;
        font-size: 20px;
    }
    span{
        font-weight: bold;
        font-size: 18px;
        margin-top: 23px;
    //     white-space: nowrap;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    }
    &--check{
        @include color($color-tertiary);
        display:flex;
        align-items:center;
        justify-content:center;
        height: 88px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 74%;
        padding-left: 25px;
        padding-right: 25px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        position: absolute;
        transform: scaleX(0);
        transform-origin:right;
    }
    &:hover{
        & > .vignette__plat--check{
            animation:check 0.7s ease-in-out both;
            & > .fa-check{
                animation: rotation-check 1s ease-in-out both;
            }
        }
    }
}
.btn-menu{
    margin-top: 8%;
    margin-left: 21%;
    @media screen and (min-width:$ecran992){
        margin-top: 0%;
        margin-bottom: 1%;
        width: 20%;
        margin-left: 41%;
    }
}