// Page menu
.carte{
    @include flex(column,normal);    
    img{
        width: 100%;
        height: 100%;
        @media screen and (min-width:$ecran992){
            width: 30%;
            height: 574px;
            object-fit: cover;
            margin-top: -59px;
        }
        @media screen and (max-width:$ecran992) and (min-width:$ecran768){
            height: 400px;
            object-fit: cover;
            object-position: 0 67%;
        }
    }
    // Mise en page de l'image La note enchantée
    .img-lanote{
        height: 350px;
        object-fit: cover;
        object-position: 0 61%;
        @media screen and (min-width:$ecran992){
            width: 30%;
            height: auto;
            object-position: center;
        }
    }
    // Présentation des plats
    &__container{
        @include color($color-bg);
        @include flex(column, normal);
        border-top-left-radius: 46px;
        border-top-right-radius: 46px;
        margin-top: -60px;
        padding-bottom: 18%;
        // Mise en page La note enchantée
        &--lanote{
            margin-top: -96px !important;
            @media screen and (min-width:$ecran992){
                margin-top: -61px !important;
            }
        }
        // Présentation carte proprement dite 
        &--menu{
            @include flex(column,normal);
            padding-left:7%;
            height: 100%;
            @media screen and (min-width:$ecran992){
                @include flex(row,  normal);
                padding-left:4%;
                padding-top:1%;
                padding-bottom:1%;
            }
        }
        // Titre H1 + icone coeur du menu
        &--titre{
            @include flex(row,space-between);
            font-family: Shrikhand;
            margin: 8%;
            i{
                font-size:38px;
            }
            @media screen and (min-width:$ecran992){
                margin: 2% 33%;
            }
            @media screen and (min-width:$ecran768) and (max-width:$ecran992){
                justify-content: space-evenly;
            }
        }
        // Choix des plats par catégories
        &--choix{
            @include flex(column,space-around);
            height: 340px;
            margin: 5% 0;
            // animation apparition des plats
            @for $i from 1 through 3{
                $j:calc($i - 1);
                $k:$j + 0.1;
                &#{$i} > p{
                    animation: menu 600ms ease-in-out #{$j}s both ;               
                }
                &#{$i} > .vignette__plat{
                    animation: slide 1s ease-in-out #{$k}s forwards;               
                }
            }
            // Présentation cartes 4 plats La note enchantée
            &--choix4plats{
                height: 440px;
            }
            // Mise en forme texte vignette + bordure verte
            & > p{
                padding-bottom:3px;
                border-bottom: 4px solid $color-tertiary;
                width: 11%;
                font-size: 18px;
            }
            // mediaqueries choix
            @media screen and (min-width:$ecran992){
                margin: 0;
                width: 33%;
            }
            @media screen and (max-width:$ecran992) and (min-width:$ecran768){
                width: 70%;
                margin-left: 110px;
            }
        }
        // mediaqueries container
        @media screen and (min-width:$ecran992){
            padding: 0;
            padding-bottom: 2%;
            width: 78%;
            border-top-right-radius: 0;
            border-bottom-left-radius: 46px;
            margin-left: -3%;
        }
        @media screen and (max-width:$ecran992) and (min-width:$ecran768){
            padding-bottom: 4%;
        }
    }
    // mediaqueries carte
    @media screen and (min-width:$ecran992){
        @include flex(row,normal);
        margin-top: 4%;
    }
}
// Icone check de la div vignette__plat--check
.fa-check{
    color: $color-tertiary;
    @include color($color-contraste);
    border: 1px solid $color-bg;
    border-radius:50px;
    padding: 5px;
}
// Vignette d'un plat
.vignette__plat{
    @include flex(row,initial);
    width: 95%;
    height: 90px;
    line-height: 25px;
    padding:20px;
    position: relative;
    cursor: pointer;
    transform: scaleY(0);
    white-space: nowrap;
    &--titre{
        font-weight: bold;
        font-size: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &--commentaire{
        overflow: hidden;
        text-overflow: ellipsis;
    }
    span{
        font-weight: bold;
        font-size: 18px;
        margin: 23px 0 0 10px;
    }
    // Div check verte au survol
    &--check{
        @include color($color-tertiary);
        display:flex;
        align-items:center;
        justify-content:center;
        height: 90px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 81%;
        padding-left: 25px;
        padding-right: 25px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        position: absolute;
        transform: scaleX(0);
        transform-origin:right;
    }
    &--texte{
        width: 85%;
        @media screen and (min-width:$ecran992){
            line-height:22px ;
        }
    }
    // Apparition de la div check au survol
    &:hover{
        & > .vignette__plat--check{
            animation:check 0.5s ease-in-out both;
            & > .fa-check{
                animation: spin 1s ease-in-out both;
            }
        }
        & > .vignette__plat--texte{
            width:67%;
            transition: width 0.5s ease-in-out ;
            @include text-overflow;
        }
    }
    @media screen and (max-width:$ecran992) and (min-width:$ecran768){
        padding: 20px 4px 20px 20px;
    }
}

.btn-menu{
    margin-top: 8%;
    margin-left: 21%;
    @media screen and (min-width:$ecran992){
        margin-top: 0%;
        margin-bottom: 1%;
        width: 20%;
        margin-left: 41%;
    }
    @media screen and (max-width:$ecran992) and (min-width:$ecran768){
        width: 25%;
        margin-left: 36%;
    }
}