        // rotation icone -- Animations loader + check
@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
// Animations loader
@keyframes spin-reverse{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(-360deg);
    }
}
    // Mise en page div loader
@keyframes div-loader {
    100% {
      opacity: 0;
      z-index: -1;
    }
  }
    // Réapparition barre de défilement après div loader
@keyframes loader-body{
    100% {
        overflow: visible;
    }
}
// Animation coeurs
@keyframes heart-full{
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}
// Animation carte
    // apparition catégorie plats
@keyframes menu{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
    // apparition vignettes plat
@keyframes slide{
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}
// Animation check
    // div verte
@keyframes check{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    } 
}