// Animations loader
@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
@keyframes spin-reverse{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(-360deg);
    }
}
@keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
  } 
// Animation coeurs

// Animation carte
@keyframes plat{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}