// mixin couleur background
@mixin color($bg){
    background-color: $bg;
}
@mixin shadow($shadow,$intensite,$ombre){
    box-shadow: 0px 0px $ombre 2px darken($shadow,$intensite);
}
// mixin grid
@mixin grid($column,$row, $taille-column,$taille-row){
    display:grid;
    grid-template-columns: repeat($column,$taille-column);
    grid-template-rows: repeat($row,$taille-row);
}
// mixin flex
@mixin flex($direction,$justify){
    display:flex;
    flex-direction:$direction;
    justify-content:$justify;
}