@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');

// COULEURS
$color-bg:#F6F6F6;
$color-bg-footer:#353535;
$color-contraste:#FFFFFF;
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

// AUTRES VARIABLES
$nb-vignettes:3;