@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');

// COULEURS
$color-bg:#F6F6F6;
$color-bg-footer:#353535;
$color-contraste:#FFFFFF;
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-btn:linear-gradient(to top left, lighten($color-primary,3), lighten($color-secondary,3));
$color-btn-light:linear-gradient(to top left, lighten($color-primary,10), lighten($color-secondary,5));

// AUTRES VARIABLES
$nb-vignettes-fct:3;
$nb-nouveau:2;

// BREAKPOINTS
$ecran992:992px;
$ecran768:768px;