// HEADER
header{
    display: flex;
    justify-content: center;
    height: 5em;    
    padding-top:6%;
    text-align: center;
    i{
      font-size:25px;
      color: darken($color-bg,70);
    }
    img{
      width: 45%;
      @media screen and (min-width:$ecran768) and (max-width:$ecran992){
        margin-top: 1%;
        width: 75%;
        margin-left: -60%;
      }
      @media screen and (min-width:$ecran992){
        width: 100%;
        margin-left: -127%;
        margin-top: -4%;
        margin-bottom: 12%;
      }
    }
    @media screen and (min-width:$ecran768) and (max-width:$ecran992){
        justify-content:space-around;
    }
    @media screen and (min-width:$ecran992){
      padding-top:4%;
    }
  }


