// HEADER
header{
    display: flex;
    justify-content: center;
    height: 5em;    
    padding-top:6%;
    text-align: center;
    i{
      font-size:25px;
      color: darken($color-bg,70);
    }
    img{
      width: 45%;
      @media screen and (min-width:$ecran768) and (max-width:$ecran992){
        margin-top: 5%;
        width: 33%;
      }
      @media screen and (min-width:$ecran992){
        width: 33%;
        margin-top: 3%;
        margin-left: -20%;
      }
    }
  }


