footer{
    @include color($color-bg-footer);
    color: $color-contraste;
    padding: 6%;
    img{
        width: 25%;
    }
    ul{
        margin-top:4%;        
        li i{
            padding-right:2%;
        }
    }
    a{
        color: $color-contraste;
    }
}
.fa-handshake-angle{
    font-size:11px;
}